<template>
    <full-calendar :events="$store.getters.events" :config="config"></full-calendar>
</template>

<script>
import {FullCalendar} from 'vue-full-calendar';

export default {
    components: {FullCalendar},
    data() {
        return {
            config: {
                defaultView: 'month',
                header: {
                    left: 'prev, title, next',
                    center: '',
                    right: ''
                },
                editable: true,
                eventClick: (event, e) => {
                    if (e.target.classList.contains('edit-panel__edit')) {
                        const obj = {
                            date: event.start._i,
                            title: event.title,
                            desc: event.desc,
                            id: event.id
                        };
                        this.$store.dispatch('setCurrentData', {event: obj});
                        this.$store.dispatch('showForm', {
                            visible: true,
                            edit: true
                        });
                    } else if (
                        e.target.classList.contains('edit-panel__remove')
                    ) {
                        this.$store.dispatch('removeEvent', {id: event.id});
                    }
                },
                displayEventTime: false,
                eventRender: function(event, element) {
                    let descr = `<div>${event.desc}</div>`;
                    let editPanel = `<div class="edit-panel"><span class="edit-panel__edit">E</span><span class="edit-panel__remove">R</span></div>`;
                    element.html(editPanel + element.html() + descr);
                }
            }
        };
    }
};
</script>

<style>
.fc-event-container {
    position: relative;
    padding-top: 20px !important;
}
.edit-panel {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: -20px;
}
.edit-panel__edit {
    color: green;
}
.edit-panel__remove {
    color: red;
}
</style>
