<template>
    <div class="form-wrapper" v-show="this.$store.state.showForm.visible">
        <form class="form" @submit.prevent="saveEvent">
            <div class="form__close" @click="close">
                <svg>
                    <line x1="0" y1="0" x2="15" y2="15" style="stroke:#a9a9a9; stroke-width:3" />
                    <line x1="15" y1="0" x2="0" y2="15" style="stroke:#a9a9a9; stroke-width:3" />
                </svg>
            </div>
            <div class="form__group">
                <label class="form__label" for="datePicker">
                    <span>Дата</span>   
                </label>
                <datepicker id="datePicker" v-model="event.date" class="form__input" :format="dateFormatter"/>
            </div>
            <div class="form__group">
                <label class="form__label">
                    <span>Заголовок</span>
                    <input v-model="event.title" class="form__input" type="text">
                </label>
            </div>
            <div class="form__group">
                <label class="form__label">
                    <span>Описание</span>
                    <textarea v-model="event.desc" class="form__input form__input_area" cols="10" rows="5"></textarea>
                </label>
            </div>
            <div class="form__group">
                <input type="submit" class="button" value="Сохранить">
            </div>
        </form>
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
export default {
    data() {
        return {};
    },
    computed: {
        event: {
            get: function() {
                return this.$store.getters.currentData;
            },
            set: function(value) {
                this.$store.dispatch('setCurrentData', {event: value});
            }
        }
    },
    components: {Datepicker},
    methods: {
        close() {
            this.$store.dispatch('showForm', {value: false});
        },
        dateFormatter(date) {
            return moment(date).format('YYYY-DD-MM');
        },
        saveEvent() {
            const event = {
                ...this.event,
                id: Math.random(0, 10) + this.event.title,
                start: this.event.date
            };
            delete event.date;
            if (!this.$store.getters.showForm.edit) {
                this.$store.dispatch('addEvent', {event});
            } else {
                this.$store.dispatch('updateEvent', {id: this.event.id, event});
            }
            this.$store.dispatch('showForm', {value: false});
        }
    }
};
</script>

<style>
.form {
    position: relative;
}
.form-wrapper {
    position: absolute;
    top: 20px;
    left: 150px;
    box-shadow: 0 0 10px 2px blue;
    background-color: #fff;
    padding: 30px 20px 20px;
    max-width: 400px;
    width: 100%;
    z-index: 10;
}
.form__group {
    margin-bottom: 20px;
    text-align: center;
}
.form__group:last-child {
    margin-bottom: 0;
}
.form__label span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.form__input,
.form__input input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px 5px;
}
.form__input_area {
    padding: 10px;
}
.form__close {
    cursor: pointer;
    position: absolute;
    top: -20px;
    left: calc(100% - 5px);
}
.form__close svg {
    width: 15px;
    height: 15px;
}
</style>
