<template>
    <div class="main-page">
        <TopPanel />
        <Calendar />
    </div>
</template>

<script>
import TopPanel from "./TopPanel";
import Calendar from "./Calendar";
export default {
  components: { TopPanel, Calendar }
};
</script>

<style>
</style>
