<template>
    <div class="top-panel">
        <div class="button" @click="toggleForm">Добавить</div>
        <EditForm />
        <div class="top-panel__search">
            <input type="text" v-model="keyword" placeholder="Enter event name or date">
            <div class="top-panel__result" v-show="keyword">
              <ul class="result-list" v-for="item in filterList" :key="item.id">
                <li class="result-list__item">
                  <div class="result-list__title">{{item.title}}</div>
                  <div class="result-list__desc">{{item.desc}}</div>
                  <div class="result-list__date">{{converter(item.start)}}</div>
                </li>
              </ul>
            </div>
        </div>
    </div>
</template>

<script>
import EditForm from './EditForm.vue';
export default {
    components: {EditForm},
    data() {
        return {
            keyword: ''
        };
    },
    computed: {
        filterList() {
            return this.$store.getters.events.filter(item => {
                const date = this.converter(item.start);
                return (
                    item.title.indexOf(this.keyword) !== -1 ||
                    item.desc.indexOf(this.keyword) !== -1 ||
                    date.indexOf(this.keyword) !== -1
                );
            });
        }
    },
    methods: {
        toggleForm() {
            this.$store.dispatch('showForm', {
                visible: !this.$store.getters.showForm.visible
            });
        },
        converter(date) {
            return moment(date).format('YYYY-DD-MM');
        }
    }
};
</script>

<style>
.top-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.top-panel__search {
    position: relative;
}
.top-panel__search input {
    border-radius: 5px;
    padding: 2px 5px;
}
.top-panel__result {
    position: absolute;
    top: calc(100% + 10px);
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: 0 0 10px 2px blue;
    padding: 10px;
}
.result-list {
    padding: 0;
}
.result-list__item {
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
    font-size: 14px;
}
.result-list__title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.result-list__desc {
    font-size: 12px;
}
.result-listfds__date {
    text-align: right;
    font-size: 12px;
    color: green;
}
.button {
    background-color: blue;
    border: 1px solid blue;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    transition: background-color linear 0.3s;
    cursor: pointer;
}
.top-panel__button:hover {
    background-color: #fff;
    color: blue;
}
</style>
