<template>
  <div id="app">
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
    name: 'app',
    data() {
        return {};
    },
    created() {
        Object.keys(localStorage).forEach(key => {
            if (key.indexOf('0.') !== -1) {
                this.$store.dispatch('addEvent', {
                    event: JSON.parse(localStorage[key])
                });
            }
        });
    }
};
</script>

<style>
.container {
    max-width: 1000px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}
</style>
